.product-inner {
  display: flex;
  align-items: center;
  column-gap: 3em;
  .left img {
    width: 100%;
    max-width: 35em;
    height: 100%;
    object-fit: cover;
    max-height: 35em;
  }
  .right {
    span {
      color: $very-dark-blue;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 0.5em;
      letter-spacing: 0.05em;
      font-size: 1.1em;
      color: $orange;
    }
    h1 {
      font-size: 1.5em;
      letter-spacing: 0.02em;
      margin-bottom: 1em;
    }
    .description {
      color: $very-dark-blue;
      margin-bottom: 1em;
    }
    .rating {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      svg {
        margin-left: 0.5em;
        fill: $orange;
      }
    }
    .price {
      font-size: 2.2em;
      margin-bottom: 1.2em;
      color: $black;
    }
    .btn-box {
      display: flex;
      align-items: center;
      column-gap: 2em;

      .go-cart {
        border: 1px solid $orange;
        padding: 0.2em 1em;
      }
    }
  }
}
