* {
  padding: 0;
  margin: 0;
  color: $dark-grayish-blue;
  font-family: "KumbhSans", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
.wrapper {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
}
main {
  margin-bottom: 5em;
}
footer {
  margin-top: auto;
}
h1.title {
  text-align: center;
  font: $header-1;
  color: $very-dark-blue;
  margin-bottom: 0.3em;
}
.subtitle {
  font: $subtitle;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
