header {
  padding: 2em 1em;
  margin-bottom: 0.5em;
  .navigation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $very-dark-blue;

    a {
      padding: 1em;

      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }

    .button-box {
      margin-left: auto;
      button {
        background: unset;
        border: unset;
        cursor: pointer;
      }
      button:first-child {
        margin-right: 0.5em;
      }
    }
  }
}
