header {
  padding: 2em 1em;
  margin-bottom: 0.5em;
  .navigation {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid $very-dark-blue;

    .logo {
      margin-right: 5em;
      img {
        max-width: 5em;
        width: 100%;
        max-height: 4em;
      }
    }
    a:not(.logo):not(.avatar) {
      padding: 1em;
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 3em;
        width: 100%;
        object-fit: contain;
        max-height: 3em;
        height: 100%;
      }
    }
    .button-box {
      margin-left: auto;
      display: flex;
      column-gap: 1em;
      button {
        background: unset;
        border: unset;
        cursor: pointer;
      }

      .cart {
        position: relative;
        span {
          background: $orange;
          color: $white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 1.3em;
          height: 1.3em;
          top: 0.5em;
          right: 0.01em;
        }
        svg {
          width: 1.3em;
          height: 1.3em;
          fill: $dark-grayish-blue;
          transition: 0.3s;

          &:hover {
            fill: $orange;
          }
        }
      }
    }
  }
}
