form {
  .input {
    display: flex;
    justify-content: center;

    .search-bar {
      display: flex;
      justify-content: center;
      max-width: 25em;
      width: 100%;
      position: relative;

      input {
        max-width: 25em;
        padding: 0.2em 1em;
        width: 100%;

        &:focus {
          border-color: $orange;
        }
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 1em;
        cursor: pointer;
      }
    }
  }
}
